*.xml
!checkstyle-idea.xml
!codeStyles/codeStyleConfig.xml
!codeStyles/Project.xml
!inspectionProfiles/Project_Default.xml
!runConfigurations/*.xml
!misc.xml
!compiler.xml
!encodings.xml
!modules.xml
!vcs.xml

libraries
scopes
